.container {
    width: 440px;
    margin: 50px auto;
}

.container a {
    background: linear-gradient(to bottom right, #0b32cc, #33f208);
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-radius: 20px;

}
.container a:hover {
    background-color: black;
    color: white;  /* Added to set text color on hover */
}

@media (max-width: 600px) {
    .container {
        width: 320px;
    }
}